.btn {
  border: none;
  width: 5%;
  /* margin-left: 10%; */
  padding: 16px;
  text-decoration: none;
  border-radius: 23px;
}
.btn a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.welcome {
  text-align: center;
}
